@import "../../../style/colors";

.navbar {
  background-color: $primary-darkest;
  .navbar-nav {
    > li.active {
      > a, > a:hover, > a:focus {
        background-color: $primary-dark;
        color: $text-primary;
      }
    }
    > li {
      > a, > a:hover, > a:focus {
        color: $text-primary;
      }
    }
  }
}

body {
  background-color: $primary;
}
