$text-primary: #ffffff;

$primary: #455A64; //blueGrey700
$primary-light: #607D8B; //blueGrey500
$primary-lightest: #78909C; //blueGrey400
$primary-dark: #37474F; //blueGrey800
$primary-darkest: #263238; //blueGrey900

$accent: #64B5F6; //blue300
$accent-light: #CFD8DC; //blueGrey100
$accent-dark: #90A4AE; //blueGrey300

$blue: #03009e;
$red: #850000;
$absent: #1DE9B6;
$mia: #FFD740;
