$text-primary: #ffffff;

$primary: #455A64;
$primary-light: #607D8B;
$primary-lightest: #78909C;
$primary-dark: #37474F;
$primary-darkest: #263238;

$accent: #64B5F6;
$accent-light: #CFD8DC;
$accent-dark: #90A4AE;

$blue: #03009e;
$red: #850000;
$absent: #1DE9B6;
$mia: #FFD740;

.btn-primary {
  border-radius: 0;
  color: $text-primary;
  background-color: $primary-darkest;
  border-color: $primary-darkest;
  &:active, &:focus, &:active:hover {
    color: $text-primary;
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
  &:hover {
    color: $text-primary;
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
  &:visited {
    color: $text-primary;
    background-color: $primary-darkest;
    border-color: $primary-darkest;
  }
  i {
    color: $text-primary;
  }
}
